.filter-bar {
  padding: 1em;
  display: flex;
  flex-shrink: 0;
  border-bottom: 1px solid #d8d8d8;
}

.filter-bar > * {
  margin-left: 1em;
}

.filter-bar > *:first-child {
  margin-left: 0;
  text-align: right;
  flex-grow: 1;
}

.filter-bar button {
  background-color: red;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

.filter-bar button[disabled] {
  background-color: #999999;
}
