.people-list__item {
  padding: 1em;
  display: flex;
  border-top: 1px solid #d8d8d8;
  background-color: #f4f4f4;
}

.people-list__item:first-child {
  border-top: none;
}

.people-list__item > *:last-child {
  padding-left: 1em;
}

.people-list__item img {
  border-radius: 50%;
  border: 1px solid #d8d8d8;
}

.people-list__item h3 {
  margin-bottom: 0;
}
